.comment {
    display: flex;
    flex-direction: column;
}

.comment__top {
    display: flex;
    justify-content: space-between;
}

.comment__topLeft {
    display: flex;
    align-items: center;
    gap: 5px;
}

.comment__topRight {
    display: flex;
    align-items: center;
}

.comment__topRight > p {
    font-size: 13px;
    padding: 5px;
}

.comment__topLeftImage {
    height: 25px;
    width: 25px;
    border-radius: 360px;
    object-fit: cover;
}

.comment__topLeftName {
    color: white;
    font-size: 13px;
}

.comment__middle {
    margin-top: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    font-size: 12px;
}

.comment__topRightClose {
    font-size: 12px;
}

.comment__topRightClose:Hover {
    cursor: pointer;
    opacity: .3;
}

.comment__topRightMenu {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 5px;
    gap: 1px;
}

.comment__topRightMenuCircle {
    height: 5px;
    width: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
}

.comment__topRightMenu:hover {
    cursor: pointer;
    opacity: .3;
}