.nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 100;
}

.nav__container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: -8vw;
    margin-right: 8vw;
}

.nav__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 15px;
}

.nav__item:hover > .nav__itemImage {
    color:  grey;
}

.nav__itemUserImage {
    height: 35px;
    width: 35px;
    border-radius: 360px;
    object-fit: cover;
}

.nav__itemImage {
    color: white;
}

.nav__itemText {
    font-size: 20px;
    color: white;
}