.post {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px rgba(255,255,255,.25);
    width: 100%;
}

.post__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}

.post__headerLeft {
    display: flex;
    align-items: center;
}

.post__headerRight {
    display: flex;
}

.post__headerRight > p {
    font-size: 1vw;
    padding: .5vw;
}

.post__headerLeftImage {
    padding: .5vw;
    height: 3vw;
    width: 3vw;
    border-radius: 360px;
    object-fit: cover;
}

.post__headerLeftName {
    color: white;
    font-size: 1.5vw;
}

.post__content {
    padding: .5vw;
    font-size: 1.5vw;
    word-wrap: break-word;
}

.post__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__toolbarLeft {
    display: flex;
}

.post__toolbarLikes {
    display: flex;
    padding: .5vw;
    gap: 3px;
}

.post__toolbarLikesHeart:hover {
    color:pink;
    cursor: pointer;
}

.post__toolbarLikesHeartLiked {
    color: pink;
}

.post__toolbarLikesHeartLiked:hover {
    opacity: .3;
    cursor: pointer;
}

.post__toolbarComments {
    display: flex;
    padding: .5vw;
    gap: 3px;
}

.post__toolbarCommentsIcon:hover {
    opacity: .3;
    cursor: pointer;
}

.post__toolbarCommentsIconClicked {
    opacity: .3;
}

.post__toolbarCommentsIconClicked:hover {
    opacity: 1;
    cursor: pointer;
}

.post__comments {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    border-left: solid 1px rgba(255,255,255,.25);
    margin-left: 4vw;
}
.post__toolbarRight {
    display: flex;
    margin-right: 1vw;
}

.post__toolbarClose:hover {
    cursor: pointer;
    opacity: .3;
}