.post {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px rgba(255,255,255,.25);
    width: 100%;
}

.post__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.post__headerLeft {
    display: flex;
    align-items: center;
}

.post__headerRight {
    display: flex;
    margin-bottom: 25px;
}

.post__headerRight > p {
    font-size: 15px;
    padding: 5px;
}

.post__headerLeftImage {
    padding: 5px;
    height: 40px;
    width: 40px;
    border-radius: 360px;
    object-fit: cover;
}

.post__headerLeftName {
    color: white;
    font-size: 20px;
}

.post__content {
    padding: 5px;
    font-size: 15px;
    word-wrap: break-word;
}

.post__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__toolbarLeft {
    display: flex;
}

.post__toolbarLikes {
    display: flex;
    padding: 5px;
    gap: 3px;
}

.post__toolbarLikesHeart:hover {
    color:pink;
    cursor: pointer;
}

.post__toolbarLikesHeartLiked {
    color: pink;
}

.post__toolbarLikesHeartLiked:hover {
    opacity: .3;
    cursor: pointer;
}

.post__toolbarComments {
    display: flex;
    padding: 5px;
    gap: 3px;
}

.post__toolbarCommentsIcon:hover {
    opacity: .3;
    cursor: pointer;
}

.post__toolbarCommentsIconClicked {
    opacity: .3;
}

.post__toolbarCommentsIconClicked:hover {
    opacity: 1;
    cursor: pointer;
}

.post__comments {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-left: solid 1px rgba(255,255,255,.25);
    margin-left: 50px;
}
.post__toolbarRight {
    display: flex;
    margin-right: 5px;
}

.post__toolbarClose:hover {
    cursor: pointer;
    opacity: .3;
}

.post__headerRightMenu {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    margin-top: 5px;
    gap: 1px;
}

.post__headerRightMenuCircle {
    height: 5px;
    width: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
}

.post__headerRightMenu:hover {
    cursor: pointer;
    opacity: .3;
}

.edit {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 15px;
    z-index: 1000;
    border-radius: 20px;
    border: solid 1px white;
    height: 500px;
    width: 500px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    z-index: 1000;
    opacity: .5;
}

.edit__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit__content > textarea {
    background-color: rgb(34, 33, 33);
    border: none;
    outline: none;
    resize: none;
    word-wrap: break-word;
    overflow: auto;
    color: white;
    width: 100%;
    height: 350px;
}

.edit__buttonClose {
    width: 80px;
    height: 30px;
    border-radius: 10px;
}

.edit__buttonClose:hover {
    cursor: pointer;
    background-color: grey;
}

.edit__bottom {
    display: flex;
    justify-content: space-between;
}

.edit__buttonSave {
    width: 80px;
    height: 30px;
    border-radius: 10px;
}

.edit__buttonSave:hover {
    cursor: pointer;
    background-color: grey;
}

@media only screen and (max-width: 1200px) {
    .edit {
        height: 500px;
        width: 300px;
    }
}