.profileheader {
    display: flex;
    flex-direction: column;
    color: white;
    border-bottom: solid 1px rgba(255,255,255,.25);
    border-left: solid 1px rgba(255,255,255,.25);
    border-right: solid 1px rgba(255,255,255,.25);
    width: 100%;
}

.profileheader__top {
    display: flex;
    justify-content: space-between;
}

.profileheader__topLeft {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profileheader__topLeftImage {
    padding: 5px;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 360px;
}

.profileheader__topLeftName {
    word-wrap: break-word;
}

.profileheader__topRightButton {
    background: white;
    border-color: #488ccc #488ccc #488ccc;
    border-radius: 360px;
    border: 1px solid;
    color: #111;
    width: 100px;
    height: 50px;
    font-size: 15px;
    margin-top: 10px;
    margin-right: 10px;
}

.profileheader__topRightButton:hover {
    background-color: rgb(53, 97, 146);
    cursor: pointer;
}

.profileheader__topRightButtonUnfollow {
    background-color: rgb(53, 97, 146);
    border-color: #488ccc #488ccc #488ccc;
    border-radius: 360px;
    border: 1px solid;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 15px;
    margin-top: 10px;
    margin-right: 10px;
}

.profileheader__topRightButtonUnfollow:hover {
    background-color: white;
    color: red;
    cursor: pointer;
}

.profileheader__middleBio {
    margin-left: 5px;
    word-wrap: break-word;
}

.profileheader__bottom {
    display: flex;
    margin-left: 5px;
    margin-top: 25px;
    gap: 10px;
    font-size: 15px;
}

.profileheader__bottomOne:hover {
    text-decoration: underline;
    cursor: pointer;
}

.profileheader__bottomOneText {
    color: grey;
}

.profileheader__bottomTwo:hover {
    text-decoration: underline;
    cursor: pointer;
}

.profileheader__bottomTwoText {
    color: grey;
}

.profileheader__toolbar {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.profileheader__toolbarItem {
    color: grey;
    padding: 25px;
    border-bottom: 5px white;
}

.profileheader__toolbarItem:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.profileheader__toolbarItem:target {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.load__circle {
    background-color: rgb(49, 49, 49) !important;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 25px;
}

.load__rectangle {
    background-color: rgb(49, 49, 49) !important;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 700px) {
    .profileheader__topLeft {
        gap: 1px;
    }

    .profileheader__topLeftImage {
        padding: 10px;
        height: 50px;
        width: 50px;
    }

    .profileheader__topRightButton {
        width: 50px;
        height: 25px;
        font-size: 10px;
        margin-top: 5px;
        margin-right: 5px;
    }
    
    .profileheader__topRightButton:hover {
        background-color: rgb(53, 97, 146);
        cursor: pointer;
    }
    
    .profileheader__topRightButtonUnfollow {
        width: 50px;
        height: 25px;
        font-size: 10px;
        margin-top: 5px;
        margin-right: 5px;
    }

    .profileheader__toolbarItem {
        padding: 5px;
        margin-top: 5px;
    }

    .load__circle {
        width: 50px !important;
        height: 50px !important;
    }

    .load__rectangle {
        width: 200px !important;
        height: 20px !important;
    }
}
