.user {
    display: flex;
    flex-direction: column;
}

.user__top {
    display: flex;
    justify-content: space-between;
}

.user__topLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user__topLeftName {
    color: white;
    font-size: 1.5vw;
}

.user__topLeftImage {
    padding: .5vw;
    height: 3vw;
    width: 3vw;
    border-radius: 360px;
    object-fit: cover;
}

.user__topRightButtonFollow {
    background-color: white;
    border-color: #488ccc #488ccc #488ccc;
    border-radius: 360px;
    border: 1px solid;
    color: #111;
    width: 4vw;
    height: 2vw;
    font-size: 1vw;
    margin-top: 1vw;
    margin-right: 1vw;
}

.user__topRightButtonFollow:hover {
    background-color: rgb(53, 97, 146);
    cursor: pointer;
}

.user__topRightButtonUnfollow {
    background-color: rgb(53, 97, 146);
    border-color: #488ccc #488ccc #488ccc;
    border-radius: 360px;
    border: 1px solid;
    color: white;
    width: 4vw;
    height: 2vw;
    font-size: .8vw;
    margin-top: 1vw;
    margin-right: 1vw;
}

.user__topRightButtonUnfollow:hover {
    background-color: white;
    color: red;
    cursor: pointer;
}

.user__middle {
    display: flex;
    padding: 5px;
}