.user {
    display: flex;
    flex-direction: column;
}

.user__top {
    display: flex;
    justify-content: space-between;
}

.user__topLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user__topLeftName {
    color: white;
    font-size: 18px;
}

.user__topLeftImage {
    padding: 5px;
    height: 35px;
    width: 35px;
    border-radius: 360px;
    object-fit: cover;
}

.user__topRightButtonFollow {
    background-color: white;
    border-color: #488ccc #488ccc #488ccc;
    border-radius: 360px;
    border: 1px solid;
    color: #111;
    width: 60px;
    height: 30px;
    font-size: 12px;
    margin-top: 10px;
    margin-right: 10px;
}

.user__topRightButtonFollow:hover {
    background-color: rgb(53, 97, 146);
    cursor: pointer;
}

.user__topRightButtonUnfollow {
    background-color: rgb(53, 97, 146);
    border-color: #488ccc #488ccc #488ccc;
    border-radius: 360px;
    border: 1px solid;
    color: white;
    width: 60px;
    height: 30px;
    font-size: 12px;
    margin-top: 10px;
    margin-right: 10px;
}

.user__topRightButtonUnfollow:hover {
    background-color: white;
    color: red;
    cursor: pointer;
}

.user__middle {
    display: flex;
    padding: 5px;
}